<div id="favorite-btn-<%= post.id %>">
  <% if current_user && current_user.favorites.exists?(post: post) %>
    <%= link_to post_favorite_path(post), method: :delete, remote: true, class:"text-dark" do %>
      ♥<%= post.favorites.count %>いいね
    <% end %>
  <% elsif current_user %>
    <%= link_to post_favorite_path(post), method: :post, remote: true, class:"text-dark" do %>
      ♡<%= post.favorites.count %>いいね
    <% end %>
  <% else %>
    <span class="text-muted">♡<%= post.favorites.count %>いいね</span>
  <% end %>
</div>