<div class="container vh-100 d-flex justify-content-center align-items-center" style="background-color: #e2d4ce;">
  <div class="card shadow-sm" style="width: 400px;">
    <div class="card-body">
      <h2 class="text-center mb-4">ログイン</h2>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="form-floating mb-3">
          <%= f.label :email,"メールアドレス", for: "floatingEmail" %><br />
          <%= f.email_field :email, class: "form-control", id: "floatingEmail", placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.label :password,"パスワード", for: "floatingPassword" %><br />
          <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "パスワードを保存" %>
          </div>
        <% end %>

        <%= f.submit "ログイン", class: "btn btn-secondary w-100" %>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
