<h2>投稿編集</h2>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

    <%= form_with model:@post do |f| %>
      <p> 画像 </p>
      <%= f.file_field :image, accept: "image/*" %>
      <p> タイトル </p>
      <%= f.text_field :title, autofoucus: true %>
      <p> 本文 </p>
      <%= f.text_field :body, autofoucus: true %>
      <p> ジャンル </p>
      <%#= f.text_field :genre, autofoucus: true %>
      <p> 種類 </p>
      <%#= f.text_field :kind, autofoucus: true %>
      <p> 産地国 </p>
      <%#= f.text_field :origin_country, autofoucus: true %>
      <p> 場所 </p>
      <%#= f.text_field :place, autofoucus: true %>
      <p><%= f.submit "変更を保存" %></p>
    <% end %>

  <%= link_to "投稿を削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>