<div class="container" style="background-color: #e2d4ce;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 my-4 mt-5">
      <div class="card shadow-sm">
        <%= image_tag @post.get_image, class:"card-img-top" %>

        <div class="card-body">
          <% if @post.errors.any? %>
            <div class="alert alert-danger">
              <%= @post.errors.count %>件のエラーが発生しました
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form_with model: @post do |f| %>
            <div class="mb-3">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :body, "本文" %>
              <%= f.text_area :body, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :genre, "ジャンル", class: "form-label" %>
              <%= f.select :genre, Post.genres.keys.map { |k| [t("enums.post.genre.#{k}"), k] }, { include_blank: "選択してください" }, { class: "form-select w-100" } %>
            </div>

            <div class="mb-3">
              <%= f.label :kind, "種類", class: "form-label" %>
              <%= f.select :kind, Post.kinds.keys.map { |k| [t("enums.post.kind.#{k}"), k] }, { include_blank: "選択してください" }, { class: "form-select w-100" } %>
            </div>

            <div class="mb-3">
              <%= f.label :origin_country, "産地国", class: "form-label" %>
              <%= f.select :origin_country, Post.origin_countries.keys.map { |k| [t("enums.post.origin_country.#{k}"), k] }, { include_blank: "選択してください" }, { class: "form-select w-100" } %>
            </div>

            <div class="mb-3">
              <%= f.label :place, "場所", class: "form-label" %>
              <%= f.select :place, Post.places.keys.map { |k| [t("enums.post.place.#{k}"), k] }, { include_blank: "選択してください" }, { class: "form-select w-100" } %>
            </div>

            <div class="mb-3">
              <%= f.label :status, "公開設定", class: "form-label" %>
                <%= f.radio_button :status, 'published' %>
                <%= f.label :status_published, '公開' %>

                <%= f.radio_button :status, 'draft' %>
                <%= f.label :status_draft, '下書き' %>

                <%= f.radio_button :status, 'unpublished' %>
                <%= f.label :status_unpublished, '非公開' %>
             </div>


            <div class="text-center">
              <%= f.submit '更新する', class: "btn btn-secondary w-100 my-3" %>
            </div>
          <% end %>
            <div class="text-center">
              <%= link_to "投稿を削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger w-100" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
