<div class="post-detail bg-light">
  <div class="container">
    <div class="row justify-content-center" style="background-color: #e2d4cb;">
      <div class="col-lg-8">
        <div class="card my-4 shadow-lg">
          <%= image_tag @post.get_image, class:"card-img-top" %>

          <div class="card-body">
            <!-- ユーザー情報 -->
            <div class="row align-items-center mb-3">
              <div class="col-2 text-center">
                <%= image_tag @post.user.get_profile_image(60,60), class: "rounded-circle"; %>
              </div>
              <div class="col-10 d-flex align-items-center">
                <span class="fw-bold me-2">name  :</span>
                <%= link_to user_path(@post.user_id), class:"text-decoration-none" do %>
                  <%= @post.user.name %>
                <% end %>
              </div>
            </div>

            <!-- 投稿内容 -->
            <table class="table table-sm table-borderless w-auto">
              <tr>
                <td class="fw-bold">title</td>
                <td>: <%= @post.title %></td>
              </tr>
              <tr>
                <td class="fw-bold">本文</td>
                <td>: <%= @post.body %></td>
              </tr>
              <tr>
                <td class="fw-bold">種類</td>
                <td>: <%= @post.kind_i18n %></td>
              </tr>
              <tr>
                <td class="fw-bold">産地国</td>
                <td>: <%= @post.origin_country_i18n %></td>
              </tr>
              <tr>
                <td class="fw-bold">場所</td>
                <td>: <%= @post.place_i18n %></td>
              </tr>
            </table>

            <span><i class="fa-solid fa-calendar-days"></i> <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></span>

            <!-- いいね -->
            <%= render 'favorites/button', post: @post %>


            <!-- 投稿を編集 -->
            <br>
            <% if @post.user == current_user %>
              <%= link_to "投稿を編集", edit_post_path(@post.id), class:"btn btn-outline-secondary btn-sm mt-2" %>
              <p>公開状態： <%= @post.status_i18n %></p>
            <% end %>


            <hr>


            <!-- コメント一覧 -->
            <%= render "comments/comment_index", post: @post %>

            <hr>

            <!-- コメントフォーム -->
            <%= render "comments/comment_form",url: post_comments_path(@post), post: @post, comment: @comment %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
