<div class="post-detail py-5 bg-light">
  <div class="container">
    <div class="card mx-auto mt-4 shadow-lg">
      <%= image_tag @post.get_image, class:"card-img-top" %>
      <div class="card-body">
        <div class="row">
          <div class="col-sm col-md-2">
            <%= image_tag @post.user.get_profile_image(100,100), class: "img-fluid rounded-cercle"; %>
          </div>
         <div class="col-sm-12 col-md-10">
           <p class="card-title"> ユーザーネーム : <%= link_to user_path(@post.user_id) do %>
                                                  <%= @post.user.name %>
                                                  <% end %>
                                                  </p>
           <p> タイトル : <%= @post.title %> </p>
           <p> 本文 : <%= @post.body %>  </p>
           <%#= @post.genre %>
           <%#= @post.kind %>
           <%#= @post.origin_country %>
           <%#= @post.place %>
           <span><i class="fa-solid fa-calendar-days"></i> <%= @post.created_at.strftime('%Y/%m/%d') %> ｜ </span>
           <% if @post.user == current_user %>
             <%= link_to "投稿を編集", edit_post_path(@post.id) %>
           <% end %>

           <% if @post.favorited_by?(current_user) %>
             <p>
               <%= link_to post_favorite_path(@post), method: :delete do %>
                 ♥<%= @post.favorites.count %>いいね
               <% end %>
             </p>
             <% else %>
             <p>
               <%= link_to post_favorite_path(@post), method: :post do %>
                 ♡<%= @post.favorites.count %>いいね
               <% end %>
             </p>
           <% end %>

           <div>
             <p>コメント件数：<%= @post.comments.count %></p>
             <% @post.comments.each do |comment| %>
               <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
               <%= comment.user.name %>
               <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
             <% end %>
           </div>
           <div>
             <%= form_with model: [@post, @comment] do |f| %>
               <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
               <%= f.submit "送信する" %>
             <% end %>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>